<form action="{{.}}/api/login" method="post">
    <input type="text" placeholder="Login..." name="cs_login2">
    <input type="password" placeholder="Secret..." name="cs_login">
    <input type="submit" value="Sign in">
</form>
